.header {
    margin-top: 5px;
}

.logo {
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    background-color: #6E41E6;
    border-radius: 13px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.tag {
    font-size: 20px;
    font-weight: 500;
}