@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #111827;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}